@{
    ViewData["Title"] = "Test page";
}
@model IEnumerable<Company>

<h1>Show companies</h1>

@{
    var a = 10;
    var b = 15;
}

<p>Total: @(a + b)</p>

@{
    var n = 5;
    for (var i = 0; i < n; i++)
    {
        <p>@i</p>
    }
}

@{
    var personName = "Kimserey";
    <text>Name: @personName</text>
}

@{
    var lastName = "Lam";
    @:Name: @lastName
}

@foreach (var comp in @Model) { 
    @Html.Partial("CompanyCard", comp)
}