@{
    ViewData["Title"] = "Super index";
}

<p>Hello world</p>
<p>@DateTime.Now</p>

@{ 
    var n = 10;
}

@for (int i = 0; i < n; i++)
{
    @:Hey ho @i
}

<p>@(n + n)</p>

@section scripts {
    <div>some scripts</div>
}