@{
    ViewData["Title"] = "Super index";
    var n = 10;
}

<h1>View component test</h1>

<vc:company-list count="2"></vc:company-list>

@await Component.InvokeAsync("CompanyList", new { count = 2 })

<br />

<div class="row">
    <div class="col-md-6">
        <div class="mt-5 card-outline-info">
            <p>Hello world</p>
            <p>@DateTime.Now</p>

            <p>
                @for (int i = 0; i < n; i++)
            {
                    @:Hey ho @i
            }
            </p>

            <p>@(n + n)</p>

            @section scripts {
                <div>some scripts</div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <p>Hehe</p>
    </div>

</div>