@{
    ViewData["Title"] = "Test page";
}

@model Test

<form>
    <label asp-for="Hello">Hello?</label>
    <input asp-for="Hello" type="text" />
    <span asp-validation-for="Hello">Hello?</span>
</form>